<div class="panel panel-default">
  <div class="panel-heading">
    <!-- add gender checkbox -->
    <h3 class="panel-title">{{message}}</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <form name="addOwner">
      <div class="col-xs-12 col-sm-6">
        <div class="form-group">
          <label for="first_name">First Name</label>
          <input type="text" name="first_name" ng-model="owner.first_name" class="form-control" id="first_name" placeholder="First Name" ng-required="true">
          <div class="alert alert-danger" ng-show="addOwner.first_name.$touched && addOwner.first_name.$invalid">
            <p class="alert-danger" ng-show="addOwner.first_name.$error.required">First Name is Required</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="form-group">
          <label for="last_name">Last Name</label>
          <input type="text" name="last_name" ng-model="owner.last_name" class="form-control" id="last_name" placeholder="Last Name" ng-required="true">
          <div class="alert alert-danger" ng-show="addOwner.last_name.$touched && addOwner.last_name.$invalid">
            <p class="alert-danger" ng-show="addOwner.last_name.$error.required">Last Name is Required</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" name="email" ng-model="owner.email" class="form-control" id="email" placeholder="Email" ng-required="true">
          <div class="alert alert-danger" ng-show="addOwner.email.$touched && addOwner.email.$invalid">
            <p class="alert-danger" ng-show="addOwner.email.$error.required">Email is Required</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="form-group">
          <label for="phone">Phone Number</label>
          <input type="text" name="phone" ng-model="owner.ownerPhone" class="form-control" id="phone" placeholder="Phone Number" ng-required="true">
          <div class="alert alert-danger" ng-show="addOwner.phone.$touched && addOwner.phone.$invalid">
            <p class="alert-danger" ng-show="addOwner.phone.$error.required">Phone is Required</p>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="gender">Gender</label>
      <input type="text" name="gender" ng-model="owner.gender" class="form-control" id="gender" placeholder="Gender" ng-required="true">
      <div class="alert alert-danger" ng-show="addOwner.gender.$touched && addOwner.gender.$invalid">
        <p class="alert-danger" ng-show="addOwner.gender.$error.required">Gender is Required</p>
      </div>
    </div>
    <div class="form-group">
      <label for="language">Language</label>
      <div class="radio-inline">
        <label><input type="radio" ng-model="owner.languageSpoken" value="English">English</label>
      </div>
      <div class="radio-inline">
        <label><input type="radio" ng-model="owner.languageSpoken" value="Spanish">Spanish</label>
      </div>
      <div class="radio-inline">
        <label><input type="radio" ng-model="owner.languageSpoken" value="Billingual">Billingual</label>
      </div>
    </div>
    <div class="form-group">
      <label for="email">Minority</label>
      <div class="radio-inline">
        <label><input type="radio" ng-model="owner.isMinority" value="true">Yes</label>
      </div>
      <div class="radio-inline">
        <label><input type="radio" ng-model="owner.isMinority" value="false">No</label>
      </div>
    </div>
    <div class="row">
      <hr>
      <div class="col-xs-12 col-sm-6">
        <div class="form-group">
          <label for="class">Education</label>
          <select ng-model="owner.class_id" name="class" class="form-control" id="class">
            <option ng-value="class.id" ng-repeat="class in classes">{{class.name}}</option>
          </select>
        </div>
      </div>
      <div class="col-xs-12 col-sm-2">
        <div class="form-group">
          <label for="semester">Semester</label>
          <select ng-model="owner.semester" name="semester" class="form-control" id="semester">
            <option selected disabled></option>
            <option>Spring</option>
            <option>Summer</option>
            <option>Fall</option>
            <option>Winter</option>
          </select>
        </div>
      </div>
      <div class="col-xs-12 col-sm-2">
        <div class="form-group">
          <label for="year">Year</label>
          <input ng-model="owner.year" type="number" name="year" class="form-control" id="year" placeholder="Year">
        </div>
      </div>
      <div class="col-xs-12 col-sm-2">
        <div class="form-group">
          <label for="did_graduate">Graduated?</label>
          <select ng-model="owner.did_graduate" name="did_graduate" class="form-control" id="did_graduate">
            <option selected disabled></option>
            <option>Yes</option>
            <option>No</option>
          </select>
        </div>
      </div>
    </div>
  </form>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <button type="submit" class="btn btn-primary btn-block" ng-click="addEntrepreneur(owner)">Submit</button>
  </div>
</div>
