<div class="container businessByIdTemplate">
<div class="row">
  <div class="col-xs-10 col-xs-offset-1 col-lg-6 col-lg-offset-3">
    <h3>{{entrepreneur.first_name}} {{entrepreneur.last_name}}</h3>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Contact</h3>
      </div>
      <div class="panel-body">
        <p><b>Phone</b>: {{entrepreneur.ownerPhone}}</p>
        <p><b>Email</b>: {{entrepreneur.email}}</p>
        <p><b>Gender:</b> {{entrepreneur.gender}}</p>
        <p ng-show=entrepreneur.isMinority == true><b>Minority:</b> Yes</p>
        <p ng-hide=entrepreneur.isMinority == false><b>Minority:</b> No</p>

      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Classes</h3>
      </div>
      <div class="panel-body">
        <p ng-repeat="class in classArray"><b>{{class.name}}</b>: {{class.semester}} {{class.year}} <span ng-show="class.did_graduate">(Graduated)</span> <span ng-hide="class.did_graduate">(Did not graduate)</span></p>
        <a class="btn btn-default btn-sm" href="" role="button" data-toggle="modal" data-target="#addAClass"role="button"><i class="fa fa-plus"></i>&nbsp; Add Class</a>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Business</h3>
      </div>
      <div class="panel-body">
        <p ng-repeat="business in businesses"><a ui-sref="businessById({id:business.business_id})">{{business.name}}</a></p>
        <a class="btn btn-default btn-sm" href="" role="button" data-toggle="modal" data-target="#addABusiness"role="button"><i class="fa fa-plus"></i>&nbsp; Add Business</a>
      </div>
    </div>

    <div class="modal fade" id="addAClass" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">Add a Class</h4>
          <div class="modal-body">
            <form>
              <div class="row">
                <hr>
                <div class="col-xs-12 col-sm-6">
                  <div class="form-group">
                    <label for="class">Education</label>
                    <select ng-model="newClass.class_id" name="class" class="form-control" id="class">
                      <option ng-value="class.id" ng-repeat="class in classes">{{class.name}}</option>
                    </select>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-2">
                  <div class="form-group">
                    <label for="semester">Semester</label>
                    <select ng-model="newClass.semester" name="semester" class="form-control" id="semester">
                      <option selected disabled></option>
                      <option>Spring</option>
                      <option>Summer</option>
                      <option>Fall</option>
                      <option>Winter</option>
                    </select>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-2">
                  <div class="form-group">
                    <label for="year">Year</label>
                    <input ng-model="newClass.year" type="number" name="year" class="form-control" id="year" placeholder="Year">
                  </div>
                </div>
                <div class="col-xs-12 col-sm-2">
                  <div class="form-group">
                    <label for="did_graduate">Graduated?</label>
                    <select ng-model="newClass.did_graduate" name="did_graduate" class="form-control" id="did_graduate">
                      <option selected disabled></option>
                      <option>Yes</option>
                      <option>No</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="addANewClass()" data-dismiss="modal">Add a Class</button>
              </div>
            </form>
              </div>
            </div>
          </div>
          </div>
        </div>

    <div class="modal fade" id="addABusiness" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">Add a business</h4>
          </div>
          <div class="modal-body">

            <form>
              <div class="form-group">
                <label for="businessName">Business Name</label>
                <input id="businessName" type="text" ng-model="newBusiness.name">
              </div>
              <div class="form-group">
                <label for="businessPhone">Phone</label>
                <input id="businessPhone" type="text" ng-model="newBusiness.businessPhone">
              </div>
              <div class="form-group">
                <label for="businessEmail">Email</label>
                <input id="businessEmail" type="text" ng-model="newBusiness.email">
              </div>
              <div class="form-group">
                <label for="businessWebsite">Website</label>
                <input id="businessWebsite" type="text" ng-model="newBusiness.website">
              </div>
              <div class="form-group">
                <label for="businessAddress1">Address</label>
                <input id="businessAddress1" ng-model="newBusiness.address1" type="text">
              </div>
              <div class="form-group">
                <label for="businessCity">City</label>
                <input id="businessCity" name="editBusinessForm.city" type="text" ng-model="newBusiness.city">
              </div>
              <div class="form-group">
                <label for="businessState">State</label>
                <input id="businessState" name="editBusinessForm.state" type="text" ng-model="newBusiness.state">
              </div>
              <div class="form-group">
                <label for="businessZip">Zip</label>
                <input id="businessZip" type="text" ng-model="newBusiness.zip">
              </div>
              <div class="form-group">
                <label for="industry">Industry:</label>
                <select class="form-control" name="industry" id="industry" ng-model="newBusiness.industry_id">
                  <option ng-value="{{industry.id}}" ng-repeat="industry in industries">{{industry.type}}</option>
                </select>
                <br/>
              </div>
              <div class="row">
                <div class="col-xs-6">
                  <div class="form-group">
                    <div class="form-group">
                      <label for="date_opened">Doors Opened:</label>
                      <input type="date" ng-model="newBusiness.date_opened" name="date_opened" class="form-control" id="date_opened" placeholder="mm/dd/yyyy">
                    </div>
                  </div>
                </div>
                <div class="col-xs-6">
                  <div class="form-group">
                    <label for="date_closed">Doors Closed:</label>
                    <input type="date" name="date_closed" ng-model="newBusiness.date_closed" class="form-control" id="date_closed" placeholder="mm/dd/yyyy">
                  </div>
                </div>
              </div>
              <fieldset class="form-group">
                <legend>Is In Good Standing</legend>
                <div class="radio">
                  <label>
                    <input type="radio" ng-model="newBusiness.good_standing" ng-value="true" ng-checked="newBusiness.good_standing === true"> In Good Standing
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" ng-model="newBusiness.good_standing" ng-value="false" ng-checked="newBusiness.good_standing === false"> Not In Good Standing
                  </label>
                </div>
              </fieldset>
              <div class="form-group">
                <label for="description">Description</label>
                <textarea ng-model="newBusiness.description"id="exampleTextarea" rows="3"></textarea>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="addANewBusiness()" data-dismiss="modal">Add a business</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!--Edit Entreprpeneur Modal -->
    <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">Entrepreneur Edit</h4>
          </div>
          <div class="modal-body">

            <form>
              <div class="form-group">
                <label for="Entrepreneur-First">Entrepreneur First Name</label>
                <input id="Entrepreneur-First" type="text" ng-model="entrepreneur.first_name">
              </div>
              <div class="form-group">
                <label for="Entrepreneur-Last">Entrepreneur Last Name</label>
                <input id="Entrepreneur-Last" type="text" ng-model="entrepreneur.last_name">
              </div>
              <div class="form-group">
                <label for="phone">Phone</label>
                <input id="phone" type="text" ng-model="entrepreneur.ownerPhone">
              </div>
              <div class="form-group">
                <label for="ownerEmail">Email</label>
                <input id="ownerEmail" type="text" ng-model="entrepreneur.email">
              </div>
              <div class="form-group">
                <label for="gender">Gender</label>
                <input id="gender" type="text" ng-model="entrepreneur.gender">
              </div>
              <fieldset class="form-group">
                <legend>Is In Good Standing</legend>
                <div class="radio">
                  <label>
                    <input type="radio" ng-model="entrepreneur.isMinority" ng-value="true" ng-checked="entrepreneur.isMinority === true"> Is Minority
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" ng-model="entrepreneur.isMinority" ng-value="false" ng-checked="entrepreneur.isMinority === false"> Is Not Minority
                  </label>
                </div>
                <div class="form-group">
                  <select class="form-control" ng-model="owner.languageSpoken">
                    <option value="English" ng-selected="owner.languageSpoken === English">English</option>
                    <option value="Spanish" ng-selected="owner.languageSpoken === Spanish">Spanish</option>
                    <option value="Bilingual" ng-selected="owner.languageSpoken === Bilingual">Bilingual</option>
                  </select>
                </div>
              </fieldset>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="editEntrepreneur()" data-dismiss="modal">Save changes</button>
              </div>
            </form>
          </div>
          </div>
        </div>
      </div>
    <a class="btn btn-danger" href="" role="button" ng-click="deleteEntrepreneur(entrepreneur.first_name, entrepreneur.last_name)"><i class="fa fa-remove"></i>&nbsp; Delete</a>
    <a class="btn btn-primary" href="" role="button" data-toggle="modal" data-target="#edit"><i class="fa fa-pencil"></i>&nbsp; Edit</a>
    <a class="btn btn-primary" href="/" role="button"><i class="fa fa-home"></i>&nbsp; Back</a>
  </div>
</div>
</div>
