<div class="row">
  <div class="col-xs-10 col-xs-offset-1 col-lg-6 col-lg-offset-3">
    <h3>{{entrepreneur.first_name}} {{entrepreneur.last_name}}</h3>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Contact</h3>
      </div>
      <div class="panel-body">
        <p><b>Phone</b>: {{entrepreneur.phone}}</p>
        <p><b>Email</b>: {{entrepreneur.email}}</p>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Classes</h3>
      </div>
      <div class="panel-body">
        <p ng-repeat="class in classArray"><b>{{class.name}}</b>: {{class.semester}} {{class.year}} <span ng-show="class.did_graduate">(Graduated)</span> <span ng-hide="class.did_graduate">(Did not graduate)</span></p>
        <a class="btn btn-default btn-sm" href="#" role="button"><i class="fa fa-plus"></i>&nbsp; Add Class</a>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Business</h3>
      </div>
      <div class="panel-body">
        <p><a ui-sref="businessById({id:business.business_id})">{{business.name}}</a></p>
        <a class="btn btn-default btn-sm" href="#" role="button"><i class="fa fa-plus"></i>&nbsp; Add Business</a>
      </div>
    </div>
    <a class="btn btn-primary" href="#" role="button"><i class="fa fa-pencil"></i>&nbsp; Edit</a>
  </div>
</div>
